<div class="news-view view">
  <div class="news-list-nav">
    <a href="/top/1" class="disabled">&lt; prev</a><span>1/25</span><a href="/top/2" class="">more &gt;</a>
  </div>
  <div class="news-list">
    <%= cache ['news-list', @top_item] do %>
      <ul>
        <% @top_items.each do |top_item| %>
          <%= cache top_item do %>
            <%= render top_item %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>