body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 15px;
    background-color: #f2f3f5;
    margin: 0;
    padding-top: 55px;
    overflow-y: scroll;
}

a, body {
    color: #34495e;
}

a {
    text-decoration: none;
}

.header {
    background-color: #f60;
    position: fixed;
    z-index: 999;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;
}

.header .inner {
    max-width: 800px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px 5px;
}

.header a {
    color: hsla(0, 0%, 100%, 0.8);
    line-height: 24px;
    -webkit-transition: color .15s ease;
    -o-transition: color .15s ease;
    transition: color .15s ease;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: .075em;
    margin-right: 1.8em;
}

.header a:hover {
    color: #fff;
}

.header a.nav-link-active {
    color: #fff;
    font-weight: 400;
}

.header a:nth-child(6) {
    margin-right: 0;
}

.header .github {
    color: #fff;
    font-size: .9em;
    margin: 0;
    float: right;
}

.logo {
    width: 24px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.view {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.fade-enter-active, .fade-leave-active {
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all 0.2s ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}

@media (max-width: 860px) {
    .header .inner {
        padding: 15px 30px;
    }
}

@media (max-width: 600px) {
    .header .inner {
        padding: 15px;
    }

    .header a {
        margin-right: 1em;
    }

    .header .github {
        display: none;
    }
}

.progress[data-v-5865e346] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 0;
    -webkit-transition: width .2s, opacity .4s;
    -o-transition: width .2s, opacity .4s;
    transition: width .2s, opacity .4s;
    opacity: 1;
    background-color: #efc14e;
    z-index: 999999;
}

.news-view {
    padding-top: 45px;
}

.news-list, .news-list-nav {
    background-color: #fff;
    border-radius: 2px;
}

.news-list-nav {
    padding: 15px 30px;
    position: fixed;
    text-align: center;
    top: 55px;
    left: 0;
    right: 0;
    z-index: 998;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    a {
        margin: 0 1em;
    }

    .disabled {
        color: #ccc;
    }
}

.news-list {
    position: absolute;
    margin: 30px 0;
    width: 100%;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.news-item {
    background-color: #fff;
    padding: 20px 30px 20px 80px;
    border-bottom: 1px solid #eee;
    position: relative;
    line-height: 20px;

    .score {
        color: #f60;
        font-size: 1.1em;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 0;
        width: 80px;
        text-align: center;
        margin-top: -10px;
    }

    .host, .meta {
        font-size: .85em;
        color: #828282;

        a {
            color: #828282;
            text-decoration: underline;
        }
    }
}

.view {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.item-view-header {
    background-color: #fff;
    padding: 1.8em 2em 1em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    h1 {
        display: inline;
        font-size: 1.5em;
        margin: 0;
        margin-right: .5em;
    }

    .meta, .host {
        color: #828282;

        a {
            text-decoration: underline;
            color: #828282;
        }
    }
}

.item-view-comments {
    background-color: #fff;
    margin-top: 10px;
    padding: 0 2em .5em;
}

.item-view-comments-header {
    margin: 0;
    font-size: 1.1em;
    padding: 1em 0;
    position: relative;

    .spinner {
        display: inline-block;
        margin: -15px 0;
    }
}

.comment-children {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .comment-children {
        margin-left: 1.5em;
    }
}

.comment {
    border-top: 1px solid #eee;
    position: relative;

    .by {
        color: #828282;

        a {
            color: #828282;
            text-decoration: underline;
        }
    }

    .text {
        overflow-wrap: break-word;
    }

    .toggle {
        background-color: #fffbf2;
        padding: .3em .5em;
        border-radius: 4px;
    }

    .toggle.open {
        padding: 0;
        background-color: transparent;
        margin-bottom: -.5em;
    }

    .toggle a {
        color: #828282;
        cursor: pointer;
    }

    .by, .text, .toggle {
        font-size: .9em;
        margin: 1em 0;
    }
}

.user-view {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em 3em;

    .about {
        margin: 1em 0;
    }

    h1 {
        margin: 0;
        font-size: 1.5em;
    }

    .meta {
        list-style-type: none;
        padding: 0;
    }

    .label {
        display: inline-block;
        min-width: 4em;
    }

    .links a {
        text-decoration: underline;
    }
}

.spinner {
    -webkit-transition: opacity .15s ease;
    -o-transition: opacity .15s ease;
    transition: opacity .15s ease;
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.spinner.show {
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.spinner .path {
    stroke: #f60;
    stroke-dasharray: 126;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite;
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: scale(0.5) rotate(0deg);
        transform: scale(0.5) rotate(0deg);
    }

    to {
        -webkit-transform: scale(0.5) rotate(270deg);
        transform: scale(0.5) rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: scale(0.5) rotate(0deg);
        transform: scale(0.5) rotate(0deg);
    }

    to {
        -webkit-transform: scale(0.5) rotate(270deg);
        transform: scale(0.5) rotate(270deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 126;
    }

    50% {
        stroke-dashoffset: 63;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    to {
        stroke-dashoffset: 126;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 126;
    }

    50% {
        stroke-dashoffset: 63;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    to {
        stroke-dashoffset: 126;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}